@media (max-width:400px){
 header{
  width: 390px;
 }
 .button{
     width: 115px;
     height: 30px;
     font-size: 10px;
 }
 .container{
    width: 400px;
}
.header_logo{
    width: 50px;
    height: 50px;
}
.header_phone,.header_official{
    display: none;
}
.button{
    align-items: center;
}
.promo{
    width: 100%;
}
.button_main{
    margin: 0 auto;
    margin-top: 20px;
}
.promo__link{
    justify-content: center;
}

}